<div class="wrapper">
    <div class="title">
        <form [formGroup]="vehicleTypeForm">
            <h1>Stwórz ogłoszenie</h1> 
            <p-dropdown [options]="vehicleTypeOptions" formControlName="type" [style]="{'width':'100%'}"  inputId="vehicleType" placeholder="Wybierz rodzaj pojazdu"></p-dropdown>
        </form>
    </div>

    <div class="vehicle-details">
        <h1>Dane pojazdu</h1>

        <div class="main-features">
            <form [formGroup]="mainFeaturesForm">
                <h2>Cechy główne</h2>
                <div class="row">
                    <h3>Uszkodzony</h3>
                    <p-selectButton styleClass="main-feature-button" formControlName="destroyed" [options]="stateOptions"></p-selectButton>
                </div>
                <div class="row">
                    <h3>Importowany</h3>
                    <p-selectButton formControlName="imported" [options]="stateOptions"></p-selectButton>
                </div>
            </form>
        </div>

        <div class="basic-info">
            <h2>Informacje podstawowe</h2>
            <form [formGroup]="basicInfoForm">
                <div class="row">                    
                    <span class="p-float-label">
                        <input [style]="{'width':'100%'}"  pInputText id="vin" formControlName="vin" />
                        <label htmlFor="vin">VIN</label>
                    </span>
                    
                    <span class="p-float-label">
                        <input [style]="{'width':'100%'}"  pInputText id="mileage" formControlName="mileage" />
                        <label htmlFor="mileage">Przebieg</label>
                    </span>
                </div>
            </form>
        </div>

        <div class="technical-data">
            <h2>Dane techniczne</h2>

            <form [formGroup]="technicalDataForm">

                <div class="row">                    
                    <span class="p-float-label">
                        <input [style]="{'width':'100%'}"  pInputText id="yearOfProduction" formControlName="yearOfProduction" />
                        <label htmlFor="yearOfProduction">Rok produkcji</label>
                    </span>
                    
                    <span class="p-float-label">
                        <input [style]="{'width':'100%'}"  pInputText id="brand" formControlName="brand" />
                        <label htmlFor="brand">Marka pojazdu</label>
                    </span>
                </div>

                <div class="row">                      
                    <span class="p-float-label">
                        <input [style]="{'width':'100%'}"  pInputText id="model" formControlName="model" />
                        <label htmlFor="model">Model pojazdu</label>
                    </span>

                    <span class="p-float-label">
                        <input [style]="{'width':'100%'}"  pInputText id="fuelType" formControlName="fuelType" />
                        <label htmlFor="fuelType">Rodzaj paliwa</label>
                    </span>
                </div>

                <div class="row">                    
                    <span class="p-float-label">
                        <input [style]="{'width':'100%'}"  pInputText id="horsepower" formControlName="horsePower" />
                        <label htmlFor="horsepower">Moc</label>
                    </span>
                    
                    <span class="p-float-label">
                        <input [style]="{'width':'100%'}"  pInputText id="engineCapacity" formControlName="engineCapacity" />
                        <label htmlFor="engineCapacity">Pojemność skokowa</label>
                    </span>
                </div>

                <div class="row">                    
                    <span class="p-float-label">
                        <input [style]="{'width':'100%'}"  pInputText id="numberOfDoors" formControlName="numberOfDoors" />
                        <label htmlFor="numberOfDoors">Liczba drzwi</label>
                    </span>
                    
                    <span class="p-float-label">
                        <input [style]="{'width':'100%'}"  pInputText id="transmission" formControlName="transmission" />
                        <label htmlFor="transmission">Skrzynia biegów</label>
                    </span>
                </div>

                <div class="row">                    
                    <span class="p-float-label">
                        <input [style]="{'width':'100%'}"  pInputText id="version" formControlName="version" />
                        <label htmlFor="version">Wersja</label>
                    </span>
                    
                    <span class="p-float-label">
                        <input [style]="{'width':'100%'}"  pInputText id="generation" formControlName="generation" />
                        <label htmlFor="generation">Generacja</label>
                    </span>
                </div>

                <div class="row">                    
                    <span class="p-float-label">
                        <input [style]="{'width':'100%'}"  pInputText id="bodyType" formControlName="bodyType" />
                        <label htmlFor="bodyType">Typ nadwozia</label>
                    </span>
                    
                    <span class="p-float-label">
                        <input [style]="{'width':'100%'}"  pInputText id="color" formControlName="color" />
                        <label htmlFor="color">Kolor</label>
                    </span>
                </div>
            </form>
        </div>


        <div class="image-form">
            <h2>Zdjęcia</h2>
            <image-uploader></image-uploader>
        </div>

        <div class="vehicle-description">
            <h2>Opis pojazdu</h2>
                        
            <form [formGroup]="vehicleDescriptionForm">
                <span class="p-float-label">
                    <input [style]="{'width':'100%'}"  pInputText id="title" formControlName="title" />
                    <label htmlFor="title">Tytuł ogłoszenia</label>
                </span>
                
                <span class="p-float-label">
                    <textarea  rows="8" [style]="{'width':'100%'}" pInputTextarea id="description" formControlName="description" [autoResize]="true"></textarea>
                    <label htmlFor="description">Opis pojazdu</label>
                </span>
            </form>
        </div>


        <div class="additional-properties">
            <h2>Wyświetl dodatkowe szczegóły</h2>
            <additional-properties></additional-properties>
        </div>


        <div class="price">
            <h2>Cena</h2>

            <form [formGroup]="priceDataForm">
                <div class="row">
                    <h3>Cena netto</h3>
                    <p-selectButton styleClass="net-button" formControlName="net" [options]="stateOptions"></p-selectButton>
                </div>
                
                <div class="price-input-row">
                    <span class="p-float-label">
                        <input [style]="{'width':'100%'}"  pInputText id="price" formControlName="price" />
                        <label htmlFor="price">Cena</label>
                    </span>
                    
                    <span class="p-float-label">
                        <input [style]="{'width':'100%'}"  pInputText id="currency" formControlName="currency" />
                        <label htmlFor="currency">Waluta</label>
                    </span>
                </div>
            </form>
        </div>

        <div class="dealer-data">
            <h2>Dane sprzedającego</h2>
            <form [formGroup]="dealerDataForm">
                <div class="row">
                    <span class="p-float-label">
                        <input [style]="{'width':'100%'}" pInputText id="name" formControlName="name" />
                        <label htmlFor="name">Twoje imię</label>
                    </span>
                    
                    <span class="p-float-label">
                        <input [style]="{'width':'100%'}"  pInputText id="address" formControlName="address" />
                        <label htmlFor="address">Adres</label>
                    </span>
                </div>
                
                <div class="half-row">
                    <span class="p-float-label">
                        <input [style]="{'width':'100%'}"  pInputText id="phoneNumber" formControlName="phoneNumber" />
                        <label htmlFor="phoneNumber">Numer telefonu</label>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>