.wrapper {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 5vh
}


.vehicle-details h1 {
    font-size: 1.5em;
    font-style: bold;
}

.main-features {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.main-features .row {
    display: flex;
    padding-bottom: 20px;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--secondary-300);
}

.main-features .row h3 {
    font-size: 1.05em;
    font-weight: lighter;
}

.main-features .row h3,
.main-features .row .p-selectbutton {
    flex: 0 0 auto;
}

.main-features .row h3 {
    margin-right: auto;
}

.main-features h2 {
    font-size: 1.1em;
}

.main-features .row .p-selectbutton {
    margin-left: auto;
}

:host ::ng-deep .p-selectbutton .p-button {
    width: 13vw !important;
    height: 30px !important;
    background-color: var(--main-100);
    border-color: var(--main-300);
    color: var(--secondary-500) !important;
    text-align: start;
    box-shadow: none;
}

:host ::ng-deep .p-selectbutton .p-button .p-button-label   {
    font-weight: lighter !important;
}

:host ::ng-deep .p-selectbutton .p-button:first-of-type {
    margin-right: 0.5vw;
}

:host ::ng-deep .p-buttonset .p-button:not(:last-child) { 
    border: 1px solid #ced4da !important;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-color: var(--main-300) !important;
}

:host ::ng-deep .p-buttonset .p-button:last-of-type {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

:host ::ng-deep .p-selectbutton .p-button:not(.p-disabled):not(.p-highlight):hover {
    background-color: var(--main-100) !important;
    border-color: var(--main-300) !important;
    color: var(--secondary-500) !important;
}

:host ::ng-deep .p-selectbutton .p-button.p-highlight:hover,
:host ::ng-deep .p-selectbutton .p-button.p-highlight {
    background-color: var(--main-200) !important; 
}

.basic-info .row {
    width: 100%;
    display: flex;
    gap: 2vw;
}

.basic-info .row .p-float-label {
    width: 50% !important;
}

.technical-data h2 {
    padding-bottom: 2vh;
}

.technical-data .row {
    width: 100%;
    display: flex;
    gap: 2vw;
    margin-bottom: 4vh;
}

.technical-data .row .p-float-label {
    width: 50% !important;
}

.image-form {
    padding-bottom: 5vh;
}