
<div class="gallery-wrapper">
    <p-galleria 
        [value]="(vehicleImages$ | async) || undefined" 
        [containerStyle]="{ 'max-width': '700px', 'max-height': '500px' }"
        [showItemNavigators]="true"
        [numVisible]="4"
    >
        <ng-template pTemplate="item" let-item>
            <img  style="object-fit: contain;" src="{{'data:image/jpg;base64,' + item.imageBytes}}" width="550" height="400"/>
        </ng-template>
        <ng-template pTemplate="thumbnail" let-item>
            <div class="grid grid-nogutter justify-content-center">
                <img class="gallery-image" src="{{'data:image/jpg;base64,' + item.imageBytes}}" width="150" height="100"  />
            </div>
        </ng-template>
    </p-galleria>
</div>

