<div class="wrapper">
    
    <div class="offer-preview" *ngIf="offer">
        <div>
            <img 
                class="car-pic"
                src="{{'data:image/jpg;base64,' + offer.offerImage.imageBytes}}" 
                alt="car">
        </div>

        <div class="offer-info">
            <h2>{{ offer.title }}</h2>
        
            <p class="under-title">
                <span> {{ offer.engineCapacity + "cm3" }} </span>
                <span> {{ offer.horsePower + "KM" }} </span>
                <span> {{ offer.model }} </span>
            </p>

            <p *ngIf="offer.highlighted" class="chip">
                Wyróżnione
            </p>

            <p class="offer-basic-info">
                <span> 
                    <i class="material-symbols-outlined">
                        add_road
                    </i>
                    {{ offer.mileage}}
                </span>
                <span> 
                    <i class="material-symbols-outlined">
                        local_gas_station
                    </i>
                    {{ offer.fuelType }}
                </span>
                <span> 
                    <i class="material-symbols-outlined">
                        auto_transmission
                    </i>                
                    {{ offer.driveType }}
                 </span>
                <span>
                    <i class="pi pi-calendar"></i> 
                    {{ offer.yearOfProduction }}
                </span>

            </p>

            <p class="location">
                Bielany Wrocławskie (Dolnośląskie)
            </p>
            <p class="duration">
                Podbito {{ offer.duration }} dni
            </p>

            <p class="dealer-type" *ngIf="offer.isPrivateDealer">
                Prywatny sprzedawca
            </p>

        </div>
 
        <div class="offer-price">
            <p class="price">
                {{ offer.price }}
                <small>
                    PLN
                </small>
            </p>

            <p class="link">Sprawdź możliwość finansowania</p>

            <p class="favourite">
                <i *ngIf="true" style="color: lightblue;" class="material-symbols-outlined">
                    favorite
                </i>
                <i *ngIf="false" style="color: lightblue;" class="material-icons">
                    favorite
                </i>  
            </p>
        </div>
    </div>
    

</div>