.wrapper {
    width: 100%;
    height: fit-content;
    background-color: var(--main-100);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 1px var(--main-900);
}

.image-drop-zone {
    padding-top: 20px;
    width: 100%;
    height: 300px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-drop-zone .button {
    display: flex;
}

.image-drop-zone input,
.not-empty-image-list .upload-file-button input {
    opacity: 0;
    position: absolute;
}

.image-drop-zone label {
    display: flex;
    width: 190px;
    height: 50px;
    background-color: var(--main-500);
    color: var(--main-100);
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.2em;
    margin-right: 20px;
    border-radius: 5px;
}

.not-empty-image-list {
    width: 100%;
    height: fit-content;
    padding: 15px;
}

.not-empty-image-list .upload-file-button label {
    width: 9vw;
    height: 14vh;
    background-color: var(--main-500);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 2em;
    font-weight: bold;
} 

ol {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    height: fit-content;
    display: grid;
    gap: 2vh;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto;
}

.not-empty-image-list .image-container .uploaded-car-pic {
    width: 9vw;
    height: 14vh;
    object-fit: cover;
    border-radius: 5px;
    -webkit-user-drag: none;
    grid-column: span 1 !important;
    grid-row: span 1 !important;
}

.not-empty-image-list .main-image-container .uploaded-car-pic {
    width: 19vw;
    height: 29vh;
    grid-column: span 2;
    grid-row: span 2;
    object-fit: cover;
    border-radius: 5px;
    -webkit-user-drag: none;
}