<div class="wrapper">

    <div *ngIf="showPictureWhenFiltersAreNull || !(filteredOffers$ | async)?.length">
        <filters-empty></filters-empty>
    </div>


    <div class="offers">
        <ng-container *ngFor="let filteredOffer of filteredOffers$ | async">
            <filtered-offer-card [offer]="filteredOffer" (click)="navigateToOffer(filteredOffer.offerId)"></filtered-offer-card>
        </ng-container>
    </div>
</div>