.main-page-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;

    .search-engine {
        width: 100%;
    }
    
    .awarded-offers {
        margin-top: 3vh;
        width: 75%;
    }
}

