.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}

.search-engine {
    width: 100%;
}

.filtered-offers {
    margin-top: 3vh;
    margin-left: 10vw;
    width: 75%;
}
