<div class="container">
    <div class="search-engine">
       <car-search-form-extended></car-search-form-extended>
    </div>

    <div class="filtered-offers">
        <filtered-offers></filtered-offers>
    </div>
</div>