<div class="car-form-wrapper">
    <form *ngIf="carSearchForm$ | async as carSearchForm" [formGroup]="carSearchForm">
        <div class="car-form-container">
            <span class="p-float-label">
                <p-dropdown 
                    formControlName="bodyType"
                    inputId="body-type"
                    [editable]="true">
                </p-dropdown>
                <label for="body-type">Typ nadwozia</label>
            </span>

            <span class="p-float-label">
                <p-dropdown 
                    formControlName="brand"
                    inputId="brand"
                    [editable]="true"
                    >
                </p-dropdown>
                <label for="brand">Marka pojazdu</label>
            </span>
            
            <span class="p-float-label">
                <p-dropdown
                    formControlName="model"
                    inputId="model"
                    [editable]="true">
                </p-dropdown>
                <label for="model">Model pojazdu</label>
            </span>
            
            <span class="p-float-label">
                <p-dropdown 
                    formControlName="generation"
                    inputId="generation"
                    [editable]="true">
                </p-dropdown>
                <label for="generation">Generacja</label>
            </span>

            <div class="range">
                <span class="label">Cena</span>
                <span class="short">
                    <p-dropdown 
                        formControlName="priceFrom"
                        placeholder="Od"
                        inputId="price-from"
                        [editable]="true">
                    </p-dropdown>
                </span>
                
                <span class="short">
                    <p-dropdown 
                        formControlName="priceTo"
                        placeholder="Do" 
                        inputId="price-to"
                        [editable]="true">
                    </p-dropdown>
                </span>
            </div> 


            <div class="range">
                <span class="label">Rok produkcji</span>
                <span class="short">
                    <p-dropdown
                        formControlName="yearFrom"
                        placeholder="Od"
                        inputId="year-from" 
                        [editable]="true">
                    </p-dropdown>
                </span>

                <span class="short">
                    <p-dropdown 
                        formControlName="yearTo"
                        placeholder="Do"
                        inputId="year-to"
                        [editable]="true">
                    </p-dropdown>
                </span>
            </div>

            <span class="p-float-label">
                <p-dropdown 
                    formControlName="fuelType"
                    inputId="fuel-type"
                    [editable]="true">
                </p-dropdown>
                <label for="fuel-type">Rodzaj paliwa</label>
            </span>
            
            <div class="range">
                <span class="label">Przebieg</span>
                <span class="short">
                    <p-dropdown
                        formControlName="mileageFrom"
                        placeholder="Od"
                        inputId="mileage-from" 
                        [editable]="true">
                    </p-dropdown>
                </span>
            
                <span class="short">
                    <p-dropdown 
                        formControlName="mileageTo"
                        placeholder="Do"
                        inputId="mileage-to"
                        [editable]="true">
                    </p-dropdown>
                </span>
            </div>

            <p-button (onClick)="goToBrowserPage()"  class="advanced-search" label="Wyszukiwanie zaawansowane"></p-button>

            <p-button (onClick)="filterOffers()" class="show-offers" label="Pokaż ogłoszenia"></p-button>

        </div>
    </form>
</div>