.image-uploader-wrapper {
    width: 100%;
    height: fit-content;
    background-color: var(--main-200);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 1px var(--main-900);

    .image-drop-zone {
        padding-top: 20px;
        width: 100%;
        height: 300px;
        text-align: center;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .button {
            display: flex;
        }

        input {
            opacity: 0;
            position: absolute;
        }

        label {
            display: flex;
            width: 190px;
            height: 50px;
            background-color: var(--main-500);
            color: var(--main-100);
            text-align: center;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            font-size: 1.2em;
            margin-right: 20px;
            border-radius: 5px;
        }
    }

    .not-empty-image-list {
        width: 100%;
        height: fit-content;
        padding: 15px;

        .upload-file-button label {
            width: 9vw;
            height: 14vh;
            background-color: var(--main-500);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            font-size: 2em;
            font-weight: bold;
        }

        ol {
            padding: 0;
            margin: 0;
            list-style: none;
            width: 100%;
            height: fit-content;
            display: grid;
            gap: 2vh;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: auto auto;
        }

        .image-container .uploaded-car-pic {
            width: 9vw;
            height: 14vh;
            object-fit: cover;
            border-radius: 5px;
            -webkit-user-drag: none;
            grid-column: span 1 !important;
            grid-row: span 1 !important;
        }

        .main-image-container .uploaded-car-pic {
            width: 19vw;
            height: 29vh;
            grid-column: span 2;
            grid-row: span 2;
            object-fit: cover;
            border-radius: 5px;
            -webkit-user-drag: none;
        }

        label { 
            display: flex;
            width: 190px;
            height: 50px;
            background-color: var(--main-500);
            color: var(--main-100);
            text-align: center;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            font-size: 1.2em;
            margin-right: 20px;
            border-radius: 5px;
        }

        .button {
            display: flex;
        }

        .upload-file-button input {
            opacity: 0;
            position: absolute;
        }
    }
}