.wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    padding-right: 2vw;
}

:host ::ng-deep .wrapper .p-button {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: var(--main-500);
    border: 4px solid var(--main-500);
    font-weight: 700;
}

.button-wrapper {
    position: relative;
    width: 10vw;
    min-width: 150px;
    height: 7vh;
}


:host ::ng-deep .wrapper .p-button:hover {
    background-color: var(--secondary-100);
    color: var(--main-500);
}