<div class="car-search-form-extended-wrapper">
    <div class="form">
        <form>
            <span class="p-float-label">
                <p-dropdown 
                    [style]="{'width':'100%'}"
                    inputId="brand"
                    [editable]="true">
                </p-dropdown>
                <label for="brand">Marka</label>
            </span>
    
            <span class="p-float-label">
                <p-dropdown 
                    [style]="{'width':'100%'}"
                    inputId="model"
                    [editable]="true"
                    [disabled]="true">
                </p-dropdown>
                <label for="model">Model</label>
            </span>

            <span class="p-float-label">
                <p-dropdown 
                    [style]="{'width':'100%'}"
                    inputId="generation"
                    [editable]="true"
                    [disabled]="true">
                </p-dropdown>
                <label for="generation">Generacja</label>
            </span>

            <span class="p-float-label">
                <p-dropdown 
                    inputId="body-type"
                    [editable]="true"
                    [style]="{'width':'100%'}"
                    [disabled]="true">
                </p-dropdown>
                <label for="body-type">Typ nadwozia</label>
            </span>

            <div class="pair">
                <span class="p-float-label">
                    <p-dropdown 
                        inputId="price-from"
                        [editable]="true"
                        [style]="{'width':'100%'}">
                    </p-dropdown>
                    <label for="price-from">Cena od</label>
                </span>

                <span class="p-float-label">
                    <p-dropdown 
                        inputId="price-to"
                        [editable]="true"
                        [style]="{'width':'100%'}">
                    </p-dropdown>
                    <label for="price-to">Cena do</label>
                </span>
            </div>

            <div class="pair">
                <span class="p-float-label">
                    <p-dropdown 
                        inputId="year-from"
                        [editable]="true"
                        [style]="{'width':'100%'}">
                    </p-dropdown>
                    <label for="year-from">Rok produkcji od</label>
                </span>

                <span class="p-float-label">
                    <p-dropdown 
                        inputId="year-to"
                        [editable]="true"
                        [style]="{'width':'100%'}">
                    </p-dropdown>
                    <label for="price-to">Rok produkcji do</label>
                </span>
            </div>
            
            <span class="p-float-label">
                <p-dropdown 
                    inputId="fuel-type"
                    [editable]="true"
                    [style]="{'width':'100%'}">
                </p-dropdown>
                <label for="fuel-type">Rodzaj paliwa</label>
            </span>

            <div class="pair">
                <span class="p-float-label">
                    <p-dropdown 
                        inputId="mileage-from"
                        [editable]="true"
                        [style]="{'width':'100%'}">
                    </p-dropdown>
                    <label for="mileage-from">Przebieg od</label>
                </span>

                <span class="p-float-label">
                    <p-dropdown 
                        inputId="mileage-to"
                        [editable]="true"
                        [style]="{'width':'100%'}">
                    </p-dropdown>
                    <label for="mileage-to">Przebieg do</label>
                </span>
            </div>

            <span class="location">
                Lokalizacja 
            </span>

            <span class="p-float-label">
                <p-dropdown 
                    inputId="isDamaged"
                    [editable]="true"
                    [style]="{'width':'100%'}">
                </p-dropdown>
                <label for="isDamaged">Stan uszkodzeń</label>
            </span>

            <span class="p-float-label">
                <p-dropdown 
                    inputId="isDamaged"
                    [editable]="true"
                    [style]="{'width':'100%'}">
                </p-dropdown>
                <label for="isDamaged">Programy specjalne</label>
            </span>
        </form>
    </div>
</div>