.offer-view-wrapper {
    display: flex;
    width: 60%;
    margin: auto;
    margin-top: 5vh;
    padding-bottom: 5vh;
    justify-content: space-between;

    
    .offer-view-details {
        display: flex;
        width: 65%;
        height: fit-content;
        justify-content: center;
        flex-direction: column;
        gap: 5vh;
    }

    .gallery {
        align-self: center;
    }

    .offer-view-price {
        margin-left: 2vw;
    }
}
.p-toast {
    margin-top: 5vh !important;
    z-index: 10000 !important;
}