
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;

    --main-100: #F6FAFB;
    --main-200: #DCF5FC;
    --main-300: #ABEAFB;
    --main-400: #8AE4FC;
    --main-500: #61DBFB;
    --main-600: #35B6D8;
    --main-700: #2185A0;
    --main-800: #105668;
    --main-900: #00303D;

    --green-100: #EBFFEF;
    --green-200: #D1FFDB;
    --green-300: #ABFFBC;
    --green-400: #8AFCA1;
    --green-500: #61FA83;
    --green-600: #36D85A;
    --green-700: #20A13C;
    --green-800: #106923;
    --green-900: #003D0D;

    --orange-100: #FFEBEB;
    --orange-200: #FFD1D1;
    --orange-300: #FFABAB;
    --orange-400: #FC8B8B;
    --orange-500: #FA6161;
    --orange-600: #D93636;
    --orange-700: #871B1B;
    --orange-800: #691010;
    --orange-900: #3D0000;

    --blue-100: #EBF6FF;
    --blue-200: #D1ECFF;
    --blue-300: #ABDCFF;
    --blue-400: #8BCDFC;
    --blue-500: #61BAFA;
    --blue-600: #3694D9;
    --blue-700: #206BA1;
    --blue-800: #104369;
    --blue-900: #00233D;

    --yellow-100: #FFF8EB;
    --yellow-200: #FFEFD1;
    --yellow-300: #FFE2AB;
    --yellow-400: #FCD68B;
    --yellow-500: #FAC661;
    --yellow-600: #D9A136;
    --yellow-700: #A17520;
    --yellow-800: #735316;
    --yellow-900: #3D2800;

    --secondary-100: #EBFBFF;
    --secondary-200: #D7E5E8;
    --secondary-300: #A9B9BD;
    --secondary-400: #838F93;
    --secondary-500: #687274;
    --secondary-600: #455A5E;
    --secondary-700: #25444A;
    --secondary-800: #123E46;
    --secondary-900: #00323D;
}