<script lang="ts">
import { defineComponent } from 'vue';


    export default defineComponent({
        name: "OfferViewPage",
        components: {}
    })
</script>

<template>
    <div class="offer-view-wrapper">
        <div class="offer-view-details">
            <div class="gallery">

            </div>
        </div>
        <div class="offer-view-price">
            
        </div>
    </div>
</template>

<style scoped lang="scss">

</style>