.offer-details-wrapper {
    width: 100%;
    min-height: 100px;
    height: fit-content;
    background-color: var(--main-100);
    
    .vehicle-details-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        padding-bottom: 20px;
    }

    .vehicle-details-row {
        margin: auto;
        display: flex;
        justify-content: space-between;
        width: 90%;
        padding: 5px 10px;
    }

    .vehicle-details-row .attribute {
        font-weight: bold;
    }

    .vehicle-details-row .value {
        color: var(--blue-500);
        font-style: italic;
        text-align: end;
    }

    .title {
        padding: 10px;
        margin: 15px 5px;
    }
}