<div class="additional-properties-wrapper">
    <p-accordion [multiple]="true">
        <p-accordionTab header="Dane techniczne" iconPos="end">
            <form [formGroup]="technicalDataForm">
                <div class="technical-data">
                    <div class="row">
                        <h3>Kierownica po prawej (anglik)</h3>
                        <p-selectButton 
                            styleClass="techincal-data-button"
                            [options]="stateOptions"
                            formControlName="isWheelOnTheRightSide"
                            ></p-selectButton>
                    </div>
                </div>
            </form>

            <form [formGroup]="additionalTechnicalDataForm">
                <div class="additional-technical-data">
                    <div class="row">                      
                        <span class="p-float-label">
                            <input [style]="{'width':'100%'}" formControlName="drive" pInputText id="drive" />
                            <label htmlFor="drive">Napęd</label>
                        </span>
    
                        <span class="p-float-label">
                            <input [style]="{'width':'100%'}"  formControlName="emission" pInputText id="emission" />
                            <label htmlFor="emission">Emisja CO2</label>
                        </span>
                    </div>
    
                    <div class="row">                    
                        <span class="p-float-label">
                            <input [style]="{'width':'100%'}" formControlName="colorType" pInputText id="colorType"/>
                            <label htmlFor="colorType">Rodzaj koloru</label>
                        </span>
                        
                        <span class="p-float-label">
                            <input [style]="{'width':'100%'}" formControlName="numberOfSeats"  pInputText id="numberOfSeats" />
                            <label htmlFor="numberOfSeats">Liczba miejsc</label>
                        </span>
                    </div>
                </div>
            </form>
        </p-accordionTab>
        <p-accordionTab header="Wyposażenie" iconPos="end">
            <div class="equipment-wrapper">
                <form [formGroup]="equipmentForm">
                    <p-accordion [multiple]="true">
                        <div 
                            class="equipment-wrapper"
                            formArrayName="equipmentTypes">
                            <ng-container 
                                *ngFor="let equipmentForm of getEquipmentTypesFromEquipmentForm().controls; let i = index"
                                [formGroupName]="i"
                            >
                                <p-accordionTab 
                                    iconPos="end"
                                    header="{{ equipmentForm.get('type')!.value }}"
                                >
                                    <ng-container formGroupName="equipments"> 
                                        <div 
                                            class="equipment-checkbox-wrapper"
                                            formArrayName="values"
                                            *ngIf="equipmentForm.get('equipments')?.get('values') instanceof FormArray"
                                        >
                                            <div 
                                                class="equipment-checkbox"
                                                *ngFor="let equipment of getFormArrayControls(equipmentForm.get('equipments')!.get('values')); let j = index" 
                                                [formGroupName]="j"
                                            >
                                                <input
                                                    type="checkbox"
                                                    [formControl]="getFormControl(equipment.get('value'))" />
                                                <label>
                                                    {{ equipment.get('name')!.value }}
                                                </label>
                                            </div>
                                        </div>
                                    </ng-container>
                                </p-accordionTab>
                            </ng-container>
                        </div>
                    </p-accordion>
                </form>
            </div>
        </p-accordionTab>
        <p-accordionTab header="Historia" iconPos="end">
        </p-accordionTab>
    </p-accordion>
</div>