.awarded-offers-label {
    width: 85%;
    font-size: 2em;
}

.offers {
    margin-top: 2vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    row-gap: 3vh;
}